!!!
html
  head
    title= token
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/instagame.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vollkorn')
    
    script(type='text/javascript')
      if ("#{token}" != null)
        console.log("#{token}")
        var token = "#{token}" 
        console.log(token)
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/bootstrap.min.js')

  body!= body    